
.border {
    border: 5px solid #dadada;
    border-radius: 15px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
   }

.cardTitle {
    font-family: 'Exo', sans-serif;
    background-color: #9ecaed;
    color: black;
    width: 161px;
    position: absolute;
    top: 10px;
    left: 9px;
    text-align: center;
    padding-bottom: 2px;
}

.cardHP {
    font-family: 'Exo', sans-serif;
    background-color: #AFD086;
    color: black;
    width: 161px;
    position: absolute;
    top: 113px;
    left: 9px;
    text-align: center;
    padding-top: 2px;
}

#asajventressCard,
#obiwankenobiCard,
#darthtyranusCard,
#darthmaulCard {
    position: relative;
    float: left;
}

#characterBox {
    float: left;
    min-width: 800px;
    object-fit: contain;
}

.charCard {
    padding: 5px;
   
}